#photo {
	max-width: 40px;
}

body,
h1,
p {
	font-family: sans-serif !important;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.printeronly {
	display: none;
}

.right {
	float: right;
}

@media print {
	body {
		margin-bottom: 30mm;
	}
	.printeronly {
		display: block;
	}
	.divFooter {
		position: fixed;
		bottom: 0;
	}
}