#photo {
	max-width: 40px;
}

body,
h1,
p {
	font-family: sans-serif !important;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.printeronly {
	display: none;
}

.right {
	float: right;
}

@media print {

	body,
	h1,
	p {
		font-family: sans-serif !important;
	}

	.printeronly {
		display: block;
	}

	.divFooter {
		position: fixed;
		bottom: 0px;
		right: 0px;
	}

}

@page {
	@bottom-left {
		content: counter(page) ' de 'counter(pages);
	}
}